<img src="https://assets.imgix.net/unsplash/bridge.jpg?w=175&h=175&fit=crop&q=85&auto=format&sharp=10"
srcset="https://assets.imgix.net/unsplash/bridge.jpg?w=175&h=175&fit=crop&q=85&auto=format&sharp=10 175w,
https://assets.imgix.net/unsplash/bridge.jpg?w=190&h=190&fit=crop&q=85&auto=format&sharp=10 190w,
https://assets.imgix.net/unsplash/bridge.jpg?w=220&h=220&fit=crop&q=85&auto=format&sharp=10 220w,
https://assets.imgix.net/unsplash/bridge.jpg?w=320&h=320&fit=crop&q=85&auto=format&sharp=10 320w,
https://assets.imgix.net/unsplash/bridge.jpg?w=640&h=640&fit=crop&q=85&auto=format&sharp=10 640w"
sizes="(min-width: 40em) 30.5vw, (min-width: 60em) 22.75vw, 46vw"
class="responsive-img"
alt="Bridge">
<span class="text-content"><span>Montreal</span></span>