<a class="gallery-image" onclick="return false" href="https://aperturus.imgix.net/{{ post.photo }}?w=640&q=85&auto=format 640w" data-id="{{ post.id }}" title="#{{ post.id }}" onmouseover="this.title=''">
    <img src="https://aperturus.imgix.net/{{ post.photo }}?w=175&h=175&fit=crop&q=85&auto=format"
    srcset="https://aperturus.imgix.net/{{ post.photo }}?w=175&h=175&fit=crop&q=85&auto=format 175w,
    https://aperturus.imgix.net/{{ post.photo }}?w=190&h=190&fit=crop&q=85&auto=format 190w,
    https://aperturus.imgix.net/{{ post.photo }}?w=220&h=220&fit=crop&q=85&auto=format 220w,
    https://aperturus.imgix.net/{{ post.photo }}?w=320&h=320&fit=crop&q=85&auto=format 320w,
    https://aperturus.imgix.net/{{ post.photo }}?w=640&h=640&fit=crop&q=85&auto=format 640w"
    sizes="(min-width: 40em) 30.5vw, (min-width: 60em) 22.75vw, 46vw"
    class="responsive-img"
    alt="{{ post.photo }}">
</a>
<span onclick="" class="text-content">
        {% if assets %}
            {% if assets.entity not in ['member', 'author'] %}
                <a class="link-button member-link" href="/members/{{ post.author.nickname }}/" rel="tag">{{ post.author.nickname }}</a><br>
            {% endif %}
        {% endif %}
        <b>{{ momentjs(post.timestamp).calendar() }}</b><br>
        {% if post.votes > 0 %}{{ post.votes }} like{% if post.votes != 1 %}s{% endif %}<br>{% endif %}
        {% if post.all_comments|length > 0 %}
            <a href="/photos/{{ post.id }}">
                    {{ post.all_comments|length }} comment{% if post.all_comments|length != 1 %}s{% endif %}
            </a><br>
        {% endif %}
        {% if assets %}
            <span class="gallery">
                <i class="fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
            </span>
        {% endif %}
</span>
{% if assets %}
        <a class="detail-link" data-id="{{ post.id }}" href="/photos/{{ post.id }}">
            <span class="rounded-icon">
                <i class="fa fa-camera-retro fa-c2x"></i>
            </span>
        </a>
{% endif %}
