<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>This Great Pic</title>
        <meta name="description" content="">
        <meta name="keywords" content="Pending" />
        <meta name="author" content="">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ static_url }}font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ static_url }}css/fonts.css">
        <link rel="stylesheet" href="{{ static_url }}css/fix.css">
        <link rel="stylesheet" href="{{ static_url }}css/custom.css">
        <link rel="stylesheet" href="{{ static_url }}css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="{{ static_url }}css/blueimp-gallery-indicator.css">

        <script src="{{ static_url }}js/libs/moment.min.js"></script>

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url }}img/apple-touch-icon-144x144.png" />
        <link rel="icon" type="image/png" href="{{ static_url }}img/favicon-32x32.png" sizes="32x32" />
    </head>
	<body id="thisgreatpic">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <header>
            {% if assets %}
                {% if assets.entity == "author" %}
                    {{ current_user.nickname }}'s Photos
                {% elif request.endpoint == "login" %}
                    Login/Signup
                {% elif request.endpoint == "home" %}
                    This Great Pic
                {% elif assets.category == "upload"  %}
                    Upload Photo
                {% elif assets.entity == "photo"  %}
                    Photo #{{ assets['photo_id'] }}
                {% elif assets.entity == "photos"  %}
                    Photos
                {% elif assets.entity == "member" %}
                    {{ assets['person'].nickname }}'s Photos
                {% elif assets.entity == "members"  %}
                    Members
                {% else %}
                    {{ request.endpoint }} - {{ assets.category }}
                {% endif %}
            {% endif %}
        </header>
        <main>
        {% if assets %}
            <div id="photo-main">{{ assets.main_entry|safe if assets.main_entry != None }}</div>
            <ul class="img-list" id="links">{{ assets.archives|safe if assets.archives != None }}</ul>
            <div id="body-form">{{ assets.body_form|safe if assets.body_form != None }}</div>
        {% endif %}
        </main>
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        {% block scripts %}
            <script src="{{ static_url }}js/libs/blueimp/blueimp-gallery.min.js"></script>
            <script src="{{ static_url }}js/libs/loadimage/canvas-to-blob.min.js"></script>
            <script src="{{ static_url }}js/libs/loadimage/load-image.all.min.js"></script>
            <script data-main="{{ static_url }}js/main" src="{{ static_url }}js/libs/require.js"></script>
        {% endblock %}
	</body>
</html>