<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>This Great Pic</title>
        <meta name="description" content="">
        <meta name="keywords" content="Pending" />
        <meta name="author" content="">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ static_url }}font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ static_url }}css/fonts.css">
        <link rel="stylesheet" href="{{ static_url }}css/fix.css">
        <link rel="stylesheet" href="{{ static_url }}css/custom.css">
        <link rel="stylesheet" href="{{ static_url }}blueimp/css/blueimp-gallery.min.css">

        <script src="{{ static_url }}js/_libs/moment.min.js"></script>

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url }}img/apple-touch-icon-144x144.png" />
        <link rel="icon" type="image/png" href="{{ static_url }}img/favicon-32x32.png" sizes="32x32" />
    </head>
	<body>
        <nav>
            {% include 'nav.html' %}
        </nav>
        <header>
            {% if assets.entity == "author" %}
                {{ current_user.nickname }}'s Photos
            {% elif request.endpoint == "login" %}
                Login/Signup
            {% elif request.endpoint == "home" %}
                This Great Pic
            {% elif assets.category == "upload"  %}
                Upload Photo
            {% elif assets.entity == "photo"  %}
                Photo #{{ assets['photo_id'] }}
            {% elif assets.entity == "photos"  %}
                Photos
            {% elif assets.entity == "member" %}
                {{ assets['person'].nickname }}'s Photos
            {% elif assets.entity == "members"  %}
                Members
            {% else %}
                {{ request.endpoint }} - {{ assets.category }}
            {% endif %}
        </header>
        <main>
        {% if assets %}
            <div id="photo-main">{{ assets.main_entry|safe if assets.main_entry != None }}</div>
            <ul class="img-list" id="links">{{ assets.archives|safe if assets.archives != None }}</ul>
            <div id="body-form">{{ assets.body_form|safe if assets.body_form != None }}</div>
        {% endif %}
        </main>
        <div id="blueimp-gallery" class="blueimp-gallery hide">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        {% block scripts %}
            <script src="{{ static_url }}blueimp/js/blueimp-gallery.min.js"></script>
            <script>
                function gallery(event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement,
                        link = target.src ? target.parentNode : target,
                        options = {index: link, event: event},
                        links = window.document.getElementsByClassName('gallery-image');
                    blueimp.Gallery(links, options);
                };
                var clickTimer = null;

                function touchStart(event) {
                    if (clickTimer == null) {
                        clickTimer = setTimeout(function () {
                            clickTimer = null;
                        }, 500)
                    } else {
                        clearTimeout(clickTimer);
                        clickTimer = null;
                        gallery(event);
                    }
                }
            </script>
{#            <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>#}
{#            {% assets "js_libs" %}#}
{#                <script type="text/javascript" src="{{ static_url }}gen/libs.js"></script>#}
{#            {% endassets %}#}
{#            {% assets "js_app" %}#}
{#                <script type="text/javascript" src="{{ static_url }}gen/app.js"></script>#}
{#            {% endassets %}#}
{#            <script src="{{ static_url }}js/_libs/jquery/jquery-2.2.0.min.js"></script>#}
{#            <script src="{{ static_url }}js/_libs/nunjucks.js"></script>#}
{#            <script src="{{ static_url }}js/_libs/canvas-to-blob.min.js"></script>#}
{#            <script src="{{ static_url }}js/_libs/load-image.all.min.js"></script>#}
{#            <script src="{{ static_url }}js/_libs/backbone/underscore.js"></script>#}
{#            <script src="{{ static_url }}js/_libs/backbone/backbone.js"></script>#}
{#            <script src="{{ static_url }}js/_libs/backbone/backbone.localStorage-min.js"></script>#}
{#            <script src="{{ static_url }}js/data.js"></script>#}
{#            <script src="{{ static_url }}js/main.js"></script>#}
        {% endblock %}
	</body>
</html>