<img class="home-pic" src="{{ local_static_url }}img/home_logo.svg" alt="logo">
<h3>What is it?</h3>
<p class="home-text">This Great Pic is a website and app for sharing your very best photographic creations. The aim is that members
will select the greatest examples from a given shoot or collection of photos for sharing and discussion. Intended as a site for amateur
and professional photographers to share and get feedback on their work and technique, This Great Pic stores and displays photos in their
original aspect-ratio and in a resolution true to the original yet optimized for the specific device and screen on which it is being viewed.
For archiving purposes as well as for discussions, it also retains and gives automatic access to a digital photo file's <em>exif</em> data and
the important information it contains regarding how (in terms of f-stop, speed, light-settings, etc) and with what type of camera and lens a
photo was taken.</p>
<div class="sitesection">
    <p class="expand-one"><a class="link-button" href="#">The Full Wonky</a></p>
    <div class="content-one home-text well">
        Related to the above, a file chosen for upload must be an original version with exif data intact. This helps with:
        <ul>
            <li>1) Ensuring that users submit photos they have taken themselves and presumably own</li>
            <li>2) Determing the best size for viewing the photo on either a desktop computer or mobile device</li>
            <li>3) Allowing users to share info about the camera, lens, aperture, timing, light-setting, etc, used in capturing a given photo</li>
        </ul>
    </div>
</div>
<h3>How do I join?</h3>
<p class="home-text">Click the arrow at the top righ to go to the signup and login page. New users can join either by one-click login
connected to their Facebook or Google accounts, or by providing their email and a password and user name. This Great Pic does not
and will not ever share your photos, email, discussion content or other information with other companies or groups.</p>
<h3>How does it work?</h3>
<p class="home-text">Pretty much like most social-media sites: you click appropriately-labeled buttons to view, share, edit, delete, filter or
    comment on photos. To view an image in full-screen mode, double-click it, or double-tap it if on a mobile device. This also
    opens up a gallery view, in which you can scroll or swipe left and right to see other photos in that group.</p>
<h3>Who runs this thing?</h3>
<p class="home-text">I am a web-developer and amateur photographer who built and maintains this project in my freetime. Please contact me at
admin@thisgreatpic.com with any suggestions for improvement or if you encounter any issues.</p>