<img sizes="92.5vw"
src="https://aperturus.imgix.net/{{ photo }}?w=320q=85&auto=format&sharp=10"
srcset="https://aperturus.imgix.net/{{ photo }}?w=320&q=85&auto=format&sharp=10 320w,
https://aperturus.imgix.net/{{ photo }}?w=480&q=85&auto=format&sharp=10 480w,
https://aperturus.imgix.net/{{ photo }}?w=640&q=85&auto=format&sharp=10 640w,
https://aperturus.imgix.net/{{ photo }}?w=880&q=85&auto=format&sharp=10 800w,
https://aperturus.imgix.net/{{ photo }}?w=880&q=85&auto=format&sharp=10 960w,
https://aperturus.imgix.net/{{ photo }}?w=1280&q=85&auto=format&sharp=10 1280w"
alt="Myimage" class="main-responsive-img">