<ul id="main-image" class="img-list">
    <li>
    {% include "full_image.html" %}
    <span onclick="" class="profile-content">
        <span>
            <div class="details-well">
{#                <a class="link-button" href="/members/{{ post.author.nickname }}/" rel="tag">{{ post.author.nickname }}</a><br>#}
{#                <b>{{ post.timestamp.strftime('%d %b %Y') }}</b><br>#}
                {% if post.votes > 0 %}{{ post.votes }} like{% if post.votes != 1 %}s{% endif %}<br>{% endif %}
{#                {% if post.comments.all()|length > 0 %}#}
{#                    <a href="{{ url_for('posts', slug=post.slug) }}">#}
{#                        {% with total=post.comments.all()|length %}#}
{#                            {{ total }} comment{% if total != 1 %}s{% endif %}#}
{#                        {% endwith %}#}
{#                    </a>#}
{#                {% endif %}#}
                {{ post.body }}
                {% for comment in post.comments.all() %}
                    <p>{% if comment.created_at %}<small>On {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}, </small>{% endif %}
                        {{ comment.author.nickname }} commented:</p>
                    <p>{{ comment.body }}</p>
                {% endfor %}
            </div>
        </span>
    </span>
    <a class="detail-link" href="/photos/{{ post.id }}">
        <span class="main rounded-icon">
            <svg width="22" height="22" viewBox="0 0 22 22">
                <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6">
                </path>
            </svg>
        </span>
    </a>
    </li>
</ul>