{% if post.photo %}
    {% include "archive_image.html" %}
{% else %}
    <a class="gallery-image" href="https://aperturus.imgix.net/img/profile.jpg?w=640&q=85&auto=format&sharp=10 640w" title="#{{ post.id }}">
        <img src="https://aperturus.imgix.net/img/profile.jpg?w=175&h=175&fit=crop&q=85&auto=format&sharp=10"
        srcset="https://aperturus.imgix.net/img/profile.jpg?w=175&h=175&fit=crop&q=85&auto=format&sharp=10 175w,
        https://aperturus.imgix.net/img/profile.jpg?w=190&h=190&fit=crop&q=85&auto=format&sharp=10 190w,
        https://aperturus.imgix.net/img/profile.jpg?w=220&h=220&fit=crop&q=85&auto=format&sharp=10 220w,
        https://aperturus.imgix.net/img/profile.jpg?w=320&h=320&fit=crop&q=85&auto=format&sharp=10 320w,
        https://aperturus.imgix.net/img/profile.jpg?w=640&h=640&fit=crop&q=85&auto=format&sharp=10 640w"
        sizes="(min-width: 40em) 30.5vw, (min-width: 60em) 22.75vw, 46vw"
        class="responsive-img"
        alt="{{ post.photo }}">
    </a>
{% endif %}
<span onclick="" class="text-content">
    <span>
        <span class="details-well">
            {% if post.nickname %}
                <a class="link-button member-link" href="/members/{{ post.nickname }}">{{ post.nickname }}</a>
            {% endif %}

            {% if post.last_seen %}
                <p><em>Last seen: {{ momentjs(post.last_seen).calendar() }}</em></p>
            {% endif %}
            {% if g.user.is_authenticated() %}
                {% if post.nickname != g.user.nickname %}
                    {% if g.user.is_following(post) %}
                        <a class="link-button unfollow" href="{{ url_for('members', category='unfollow', nickname=post.nickname) }}"><strong>Unfollow</strong></a>
                    {% else %}
                        <a class="link-button follow" href="{{ url_for('members', category='follow', nickname=post.nickname) }}"><strong>Follow</strong></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </span>
    </span>
</span>
<a class="detail-link" href="/members/{{ post.nickname }}">
    <span class="rounded-icon">
        <svg width="22" height="22" viewBox="0 0 22 22">
            <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6">
            </path>
        </svg>
    </span>
</a>