<input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
{% if assets %}<div id="header">{{ assets.title }}</div>{% endif %}
<nav id="nav" class="navigation">
    <ul id="main-menu">
    {% if assets %}
    {% if not assets.title == "home"  %}
        <li class="button button-primary"><a href="/home">Home</a></li>
    {% endif %}
    {% if not assets.title == "photos"  %}
        <li class="button button-primary"><a href="/photos">Photos</a></li>
    {% endif %}
    {% if not current_user.is_authenticated()  %}
        {% if not assets.title == "login"  %}
            <li class="button button-primary"><a href="/login">Login</a></li>
        {% endif %}
    {% else %}
        {% if not assets.title == "people"  %}<li class="button button-primary"><a href="/people">People</a></li>{% endif %}
        {% if not assets.title == "upload"  %}<li class="button button-primary"><a href="/upload">Upload</a></li>{% endif %}
        {% if not assets.title == "profile"  %}<li class="button button-primary"><a href="/profile">Profile</a></li>{% endif %}
        {% if not assets.title == "logout"  %}<li class="button button-primary"><a href="/logout">Logout</a></li>{% endif %}
    {% endif %}
    {% endif %}
    </ul>
</nav>