<ul class="img-list" id="main-image">
    <li data-id="{{ post.id }}">
        {% if post.photo %}
            {% include "full_image.html" %}
        {% else %}
            <img sizes="92.5vw" src="https://aperturus.imgix.net/img/profile.jpg?w=300&q=85&auto=format&sharp=10"
            srcset="https://aperturus.imgix.net/img/profile.jpg?w=300&q=85&sharp=10 300w,
            https://aperturus.imgix.net/img/profile.jpg?w=600&q=85&sharp=10 600w,
            https://aperturus.imgix.net/img/profile.jpg?w=900&q=85&sharp=10 900w,
            https://aperturus.imgix.net/img/profile.jpg?w=1290&q=85&sharp=10 1290w"
            alt="{{ post.photo }}" class="main-responsive-img">
        {% endif %}
        <span onclick="" class="profile-content">
            <span>
                <div class="details-well">
                    {% if post.last_seen %}
                        <p><em>Last seen:{{ momentjs(post.last_seen).calendar() }}</em></p>
                    {% endif %}
                    {% if g.user.is_authenticated() %}
                        <p>Followers: {{ post.followers.count() }} | Following: {{ post.followed.count() }}</p>
                        {% if post.nickname == g.user.nickname %}
                            <a class="button button-primary" href="/members/update" >Update Info</a>
                            <a class="button button-primary" href="/members/upload" >Change Image</a>
                        {% endif %}
                        {% if post.nickname != g.user.nickname %}
                            {% if g.user.is_following(post) %}
                                <a class="link-button" href="{{ url_for('members', category='unfollow', nickname=post.nickname) }}"><strong>Unfollow</strong></a>
                            {% else %}
                                <a class="link-button" href="{{ url_for('members', category='follow', nickname=post.nickname) }}"><strong>Follow</strong></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div>
                        {% if post.about_me %}
                            About: {{ post.about_me }}<br>
                        {% endif %}
                    </div>
                </div>
            </span>
        </span>
    </li>
</ul>