<ul class="img-list">
    <li>
        {% include "main_image.html" %}
        <span onclick="" class="profile-content">
            <span>
                <a href="{{ url_for('members', nickname=post.author.nickname) }}" rel="tag">{{ post.author.nickname }}</a><br>
                <b>{{ post.timestamp.strftime('%d %b %Y') }}</b><br>
                {% if post.votes > 0 %}{{ post.votes }} like{% if post.votes != 1 %}s{% endif %}<br>{% endif %}
                {% if post.comments.all()|length > 0 %}
                    <a href="{{ url_for('posts', slug=post.slug) }}">
                        {% with total=post.comments.all()|length %}
                            {{ total }} comment{% if total != 1 %}s{% endif %}
                        {% endwith %}
                    </a>
                {% endif %}
                {% if g.user.is_authenticated() and post.author.id == g.user.id %}
                    <a href="#">Edit</a><br>
                    <a href="#">Delete</a>
                {% endif %}

                {% if g.user.is_authenticated() and post.author.id != g.user.id %}
                    {% if post.has_voted(g.user.id) %}
                        <a data-voted="true" style="color:#eb6864;" href="{{ url_for('photos', category='vote', post_id=post.id) }}" class="{{ post.id }} likeme"><i class="fa fa-smile-o fa-lg"></i></a>
                    {% else %}
                        <a data-voted="false" style="color:#000;" href="{{ url_for('photos', category='vote', post_id=post.id) }}" class="{{ post.id }} likeme"><i class="fa fa-meh-o fa-lg"></i></a>
                    {% endif %}
                        (Like/Unlike)
                        <a href="{{ url_for('posts', slug=post.slug) }}">Add Comment</a>
                {% endif %}
            </span>
        </span>
    </li>
</ul>
<div>
    {{ post.body }}
</div>