<div class="fixed-nav">
    <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
    <div id="header">{{ assets.page_mark }}</div>
    <nav id="navigation1" class="navigation">
        <div id="nav">
            <div class="container">
                <ul id="main-menu">
                    {% if not assets.page_mark == "photos"  %}
                        <li class="button button-primary"><a href="#">Photos</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated()  %}
                        <li class="button button-primary"><a href="#">Submit</a></li>
                        <li class="button button-primary"><a href="#">Profile</a></li>
                        <li class="button button-primary"><a href="#">Logout</a></li>
                    {% else %}
                        <li class="button button-primary"><a href="#">Login</a></li>
                    {% endif %}
                    {% if not assets.page_mark == "people"  %}
                        <li class="button button-primary"><a href="#">People</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>