<div id="mobileMenu"></div>
<div id="nav">
    <div class="container">
        <ul id="main-menu">
            <li>Gallery
                <ul>
                    <li><a href="/photos/gallery">My Photos</a></li>
                    <li><<a href="#">Favorites</a></li>
                    <li><<a href="#">Followed</a></li>
                </ul>
            </li>
            <li>Members
                <ul>
                    <li><a href="#">Followed</a></li>
                    <li><<a href="#">Most Recent</a></li>
                    <li><<a href="#">Most Appreciated</a></li>
                </ul>
            </li>
            <li>Admin
                <ul>
                    <li><a href="/logout">Logout</a></li>
                    <li><<a href="#">Update Profile</a></li>
                    <li><<a href="#">Settings</a></li>
                </ul>
            </li>
            <li><a href="/photos/create">Submit New Photo</a></li>
        </ul>
    </div>
</div>