<div id="tabmenu" class="photo-detail">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Story</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Comments</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Data</label>

    <section id="content1">
        <h3>What makes this great...</h3>
        <section>{{ post.body }}</section>
    </section>

    <section id="content2">
        {% include "comment_form.html" %}
        {% include "comments.html" %}
    </section>

    <section id="content3">
        <table>
            <tbody>
                {% for key, value in exifFields.iteritems() %}
                    {% if key not in ['post_id', 'id'] %}
                    {% if loop.index %2 == 0 %}
                        <tr class="even">
                    {% else %}
                        <tr class="odd">
                    {% endif %}
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>