<div id="tabmenu" class="photo-detail">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Story</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Comments</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Data</label>

    <section id="content1">
        {% if current_user.is_authenticated() and post.nickname == current_user.nickname %}
            <section class="editable">{{ post.body }}</section>
            <h6 id="comment-form-prompt" style="color:grey">(Higlight text to edit)</h6>
            <button class="btn btn-info hide" id="comment-form-submit">Submit</button>
        {% else %}
            <section>{{ post.body }}</section>
        {% endif %}
    </section>

    <section id="content2">
        {% if current_user.is_authenticated() %}
            {% include "comment_form.html" %}
        {% endif %}
        {% include "comments.html" %}
    </section>

    <section id="content3">
        <table>
            <tbody>
                {% for key, value in exifFields.iteritems() %}
                    {% if key not in ['post_id', 'id'] %}
                    {% if loop.index %2 == 0 %}
                        <tr class="even">
                    {% else %}
                        <tr class="odd">
                    {% endif %}
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>