<h3>Signup</h3>
<form action="/signup/" id="signup-form" method="post" accept-charset="utf-8">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" placeholder="First Name" type="text" value="">
        {% for error in signupform.firstname.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_firstname" class="help-inline" style="color:red"></span>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input id="lastname" name="lastname" placeholder="Last Name" type="text" value="">
        {% for error in signupform.lastname.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_lastname" class="help-inline" style="color:red"></span>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="Email" type="text" value="">
        {% for error in signupform.email.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_email" class="help-inline" style="color:red"></span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="Password" type="password" value="">
        {% for error in signupform.password.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_password" class="help-inline" style="color:red"></span>
    </div>
    <input class="button button-primary" type="submit" value="Signup">
</form>