<div class="well" id="photo-form">
    <h6 class="docs-header">Add a New Photo</h6>
{#    <p>Post your latest photo entry using the form below. You can later attach more images or a gallery of photos this entry</p>#}
    <div class="docs-example docs-example-forms">
        <div id="result" class="result">
            <p></p>
        </div>
        <span id="progress-bar"></span>
        <div id="exif" class="exif hide">
            <table></table>
        </div>
        <div id="photo-s3form-target"></div>
        <div id="photo-textform-target"></div>
    </div>
</div>
