<form id="poem-form" class="form-horizontal" action="/photos" method="post" enctype="multipart/form-data" name="post">
    {{ form.csrf_token }}
{#    <div class="form-group{% if form.header.errors %} error{% endif %}">#}
{#        <label>Title</label>#}
{#        {{ form.header(type="text") }}#}
{#        <span id="error_header" class="help-inline"></span><br>#}
{#    </div>#}
    <div class="form-group{% if form.body.errors %} error{% endif %}">
        <label>What makes this picture great?</label>
        {{ form.body(type="text") }}
        <span id="error_post" class="help-inline"></span><br>
    </div>
    <div class="hide {% if form.body.errors %} error{% endif %}">
        {{ form.photo() }}
        <span id="error_post" class="help-inline"></span><br>
    </div>
    {{ form.submit() }}
</form>