<form id="poem-form" class="form-horizontal" action="/photos/" method="post" enctype="multipart/form-data" name="post">
    {{ form.csrf_token }}
    <div class="form-group{% if form.body.errors %} error{% endif %}">
        <label>What makes this picture great?</label>
        {{ form.body(type="text") }}
        {% for error in form.body.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_post" class="help-inline"></span><br>
    </div>
    <div class="hide">
        {{ form.photo() }}
        <span id="error_post" class="help-inline"></span><br>
    </div>
    {{ form.submit() }}
</form>