<div id="image-preview">
    <div class="docs-example docs-example-forms">
        <div id="result" class="result">
            <p></p>
        </div>
        <span id="progress-bar"></span>
        <div id="exif" class="exif">
            <table></table>
        </div>
        <div id="photo-s3form-target"></div>
        <div id="photo-textform-target"></div>
    </div>
    <form id="s3-form" action="{{ form.action }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{ form.key }}">
        <input type="hidden" name="success_action_redirect" value="{{ form.success_action_redirect }}">
        <input type="hidden" name="acl" value="{{ form.acl }}">
        <input type="hidden" name="policy" value="{{ form.policy }}">
        <input type="hidden" name="success_action_status" value="{{ form.success_action_status }}">
        <input type="hidden" name="x-amz-algorithm" value="{{ form['x-amz-algorithm'] }}">
        <input type="hidden" name="x-amz-credential" value="{{ form['x-amz-credential'] }}">
        <input type="hidden" name="x-amz-date" value="{{ form['x-amz-date'] }}">
        <input type="hidden" name="x-amz-signature" value="{{ form['x-amz-signature'] }}">
        <label class="custom-file-upload">
            <input id="file-input" type="file" name="file">
            <input class="button button-primary" id="photo-submit" type="submit" value="Upload">
        </label>
    </form>
</div>