<div style="min-height:800px">
    <h2 style="margin-top: 2rem;">Now Applying to Toptal</h2>
    <p>
    Haven't gotten back to working on this site in a while. Too busy with other work. This week I am applying to join the  Toptal Web engineers group. I am excited at the prospect of continuing freelance work without the hassle of finding and negotiating client contracts, leaving me more free focusing on coding and group collaboration.
    </p>
        <div style="
        background-image:url('{{ local_static_url }}img/iphone5_small.png');
        background-repeat:no-repeat;
        margin: -20px 0px 0px 10px;
        padding: 110px 0px 0px 20px;
        width:278px;height:600px;
        float:right
        ">
        <iframe src="/phonegap" width="240" height="412"></iframe>
        </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at mi nibh. Mauris ut metus vel sapien sollicitudin luctus. Duis mattis justo justo, vel aliquet ipsum dignissim sit amet. Aliquam nec semper dui. Fusce tellus diam, efficitur ut commodo ut, consequat non justo. Nullam sit amet enim non lacus venenatis blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer gravida eget urna eget efficitur. Proin eu leo ut purus pellentesque facilisis. In volutpat arcu sed nunc sagittis, sed vehicula ex elementum. Pellentesque tincidunt rutrum vestibulum. Etiam laoreet feugiat justo vitae fringilla.
    </p>
</div>