<img class="home-pic" src="{{ static_url }}img/home_logo.svg" alt="logo">
<div class="home-text">
    <h3>What is it?</h3>
    <p >This Great Pic is a website and app for sharing your very best photographic creations.</p>
    <p>It has been designed to meet the requirements of serious photographers wishing to share and get feedback on their work and technique.
    This Great Pic stores and displays a photo in its original aspect-ratio and in a resolution optimized for the device and screen on which it is being viewed.</p>
    <p>It also retains and gives automatic access to the photo file's <em>exif</em> data. Most often stripped from a photo file by media servers to reduce its size,
    this meta-data contains critical information on when, how (in terms of aperture, speed, light-settings, etc) and with what type of camera and lens the photo was taken.</p>
</div>
<div class="sitesection">
    <p class="expand-one"><a class="link-button" href="#">More...</a></p>
    <div class="content-one home-text well">
        A file chosen for upload must be an original version with exif data intact. This helps to:
        <ul>
            <li>1) Ensure that users submit photos they have taken themselves and presumably own.</li>
            <li>2) Determine the best size for viewing the photo on either a desktop computer or mobile device.</li>
            <li>3) Allow users to share info about the camera, lens, aperture, timing, light-setting, etc, used in capturing a given photo.</li>
        </ul>
    </div>
</div>
<div class="home-text">
<h3>How do I join?</h3>
    <p>Click the arrow at the top right to go to the signup and login page. New users can join either by one-click login
    connected to their Facebook or Google accounts, or by providing their email and a password and user name.</p><p>This Great Pic will never share your photos, email, comment's content or other user information with companies or other groups.</p>
</div>
<div class="home-text">
<h3>How does it work?</h3>
<p>Pretty much like most social-media apps and sites: click appropriately-labeled buttons or icons to view, share, edit,
    delete, or comment on photos.</p><p>Buttons for filtering content and navigating the site are accessed through the
    menu on the top left of each page.</p>
</div>
<div class="home-text">
    <h3>Who runs this thing?</h3>
    <p>I am a web-developer and amateur photographer who built and maintains this project in my freetime. Please contact me at
    admin@thisgreatpic.com with any suggestions for improvements or if you run into any issues.</p>
</div>