<div data-id="{{ post.id }}" class="img-list" id="main-image">
    <div class="profile-content">
        <div class="profile-details">
                <h3>{{ post.nickname }}</h3>
                <h5>Followers: {{ post.followers.count() }}</h5>
                <h5>Following: {{ post.followed.count() }}</h5>
            {% if current_user.is_authenticated() and post.nickname != current_user.nickname %}
                {% if g.user.is_following(post) %}
                    <a class="link-button unfollow" href="/members/{{ post.nickname }}/unfollow/"><strong>Unfollow</strong></a>
                {% else %}
                    <a class="link-button follow" href="/members/{{ post.nickname }}/follow/"><strong>Follow</strong></a>
                {% endif %}
            {% endif %}
        </div>
        {% if post.photo %}
            <img class="profile-img" data-id="{{ post.id }}" src="https://aperturus.imgix.net/{{ post.photo }}?usm=20&border=3%2CAAA&facepad=2.5&faceindex=1&fit=facearea&fm=png&mask=ellipse&h=120&w=120"
            alt="{{ post.photo }}">
        {% else %}
            <img class="profile-img" src="https://aperturus.imgix.net/img/profile.jpg?usm=20&border=3%2CAAA&facepad=2.5&faceindex=1&fit=facearea&fm=png&mask=ellipse&h=120&w=120"
            alt="{{ post.photo }}">
        {% endif %}
        <div>
            {% if post.last_seen %}
                <h5>Last seen: <em>{{ momentjs(post.last_seen).calendar() }}</em></h5>
            {% endif %}
            {% if current_user.is_authenticated() %}
                {% if post.nickname == current_user.nickname %}
                    <a class="button button-primary" href="/members/update/" >Update Info</a>
                    <a class="button button-primary" href="/members/upload/" >Change Image</a>
                {% endif %}
            {% endif %}
            {% if post.about_me %}
                <h6>{{ post.about_me }}</h6>
            {% endif %}
        </div>
    </div>
</div>